@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,900");

:root {
  --clr-primary-000: transparent;
  --clr-primary-100: #ffffffc2;
  --clr-primary-200: #27c7f3;
  --clr-primary-500: #676e75;
  --clr-primary-900: black;

  --clr-nautral-100: white;
  --clr-nautral-200: #f5f5f5;

  --ff-primary: "Source Sans Pro", Helvetica, sans-serif;
  --ff-secondary: "Source Sans Pro", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--ff-secondary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

h1 + p {
  font-size: 2rem;
}

#header > h2 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

#main-intro > h2 {
  font-size: 2rem;
}

#nav {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.075em;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

@media screen and (min-width: 420px) {
  html {
    font-size: 110%;
  }
}
@media screen and (min-width: 2200px) {
  html {
    font-size: 150%;
  }
}

.button {
  font-family: var(--ff-primary);
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  line-height: 3rem;
}

.text-center {
  text-align: center;
}

/* general */

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-inline: auto;
  width: min(100%, 70rem);
}

@media screen and (min-width: 1400px) {
  .container {
    margin-inline: auto;
    width: min(90%, 70rem);
  }
}

/* background */

.bg-white {
  color: var(--clr-primary-900);
  background-color: var(--clr-nautral-100);
}
.bg-light {
  color: var(--clr-primary-500);
  background-color: var(--clr-nautral-200);
}
.bg-transparent {
  color: var(--clr-nautral-100);
  background-color: transparent;
}

/* layout */

.split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.fit {
  display: block;
  margin: 2.5rem 0;
  width: 100%;
}

.image.fit:first-child {
  margin-top: 0;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 2rem 0;
  width: 100%;
}

.image.main:first-child {
  margin-top: 0;
}

.image.main img {
  width: 100%;
}

@media screen and (max-width: 736px) {
  .image.fit {
    margin: 2rem 0;
  }

  .image.main {
    margin: 2rem 0;
  }
}

a.image {
  overflow: hidden;
}
