@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,900");

:root {
  --clr-primary-000: transparent;
  --clr-primary-100: #ffffffc2;
  --clr-primary-200: #27c7f3;
  --clr-primary-500: #676e75;
  --clr-primary-900: black;

  --clr-nautral-100: white;
  --clr-nautral-200: #f5f5f5;

  --ff-primary: "Source Sans Pro", Helvetica, sans-serif;
  --ff-secondary: "Source Sans Pro", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--ff-secondary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

h1 + p {
  font-size: 1.5rem;
}

#header > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

#main-intro > h2 {
  font-size: 2rem;
}

#main-intro {
  padding-bottom: 0;
}

#nav {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  text-transform: uppercase;
}

#footer {
  font-family: var(--ff-primary);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: 0 !important;
}

#copyright {
  color: var(--clr-primary-100);
  font-family: var(--ff-primary);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.button {
  font-family: var(--ff-primary);
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 420px) {
  html {
    font-size: 110%;
  }
  h1 {
    font-size: 4rem;
  }
  #header > h2 {
    font-size: 2.5rem;
  }
  h1 + p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2200px) {
  html {
    font-size: 150%;
  }
}
/* wrapper */

#wrapper > * {
  margin: 0 auto 0 auto;
}

/* intro */

#intro {
  color: var(--clr-nautral-100);
  padding: 0 1rem 0 1rem;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: -moz-flex-end;
  -webkit-justify-content: -webkit-flex-end;
  -ms-justify-content: -ms-flex-end;
  justify-content: flex-end;
  position: relative;
  cursor: default;
  text-align: center;
  z-index: 1;
  min-height: 100vh;
}

@media screen and (min-width: 420px) {
  #intro {
    padding: 8rem 4rem 0 4rem;
  }
}

/* header */

#header > h2 {
  border: 3px solid var(--clr-nautral-100);
  display: inline-block;
  padding: 1rem;
}

/* visibility modifiers */

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1000ms, opacity 1000ms;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 2000s linear 0s, opacity 1000ms;
}

/* arrow link*/

.arrow {
  padding-top: 3rem;
  display: inline-block;
  padding-inline: 1rem;
}

.arrow:hover {
  filter: invert(59%) sepia(97%) saturate(1189%) hue-rotate(159deg)
    brightness(104%) contrast(91%);
}

#top {
  transform: rotate(180deg);
}

/* general */

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  display: inline-block;
}

h2,
p {
  margin-bottom: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  h2,
  p {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0;
  }
}

img {
  max-width: 100%;
  transition: transform 0.2s;
}

img:hover {
  transform: scale(1.05);
}

ol,
ul {
  list-style: none;
  margin: 0;
}

header,
section {
  padding: 1.5rem 0;
}

@media screen and (min-width: 420px) {
  header,
  section {
    padding: 3rem 0;
  }
}

.flex {
  display: flex;
}
.flex * {
  padding: 0.25rem;
}

.padding-posts {
  padding: 1rem;
}

@media screen and (min-width: 420px) {
  .padding-posts {
    padding: 2rem;
  }
}

.margin-inline-1rem {
  margin-inline: 0.5rem;
}

.border {
  border: 1px solid #eeee;
}

.border-top {
  border-top: 1px solid #eeee;
}

#main-intro + section + section {
  padding: 0;
}

.container {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-inline: auto;
  width: min(100%, 70rem);
}

@media screen and (min-width: 1280px) {
  .container {
    margin-inline: auto;
    width: min(90%, 70rem);
  }
}

a {
  color: inherit;
}

.button:hover {
  filter: invert(59%) sepia(97%) saturate(1189%) hue-rotate(159deg)
    brightness(104%) contrast(91%);
}

/* scroll */

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* background */

.bg-white {
  color: var(--clr-primary-900);
  background-color: var(--clr-nautral-100);
}
.bg-light {
  color: var(--clr-primary-500);
  background-color: var(--clr-nautral-200);
}
.bg-transparent {
  color: var(--clr-nautral-100);
  background-color: transparent;
}

/* layout */

.split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 1400px) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
}

/* nav */

#nav {
  color: var(--clr-primary-100);
  background-color: rgba(255, 255, 255, 0.175);
  position: relative;
  cursor: default;
  border-bottom-color: inherit;
  padding: 1rem;
}
#nav a {
  color: inherit;
}

#nav a:hover {
  text-decoration: none;
  color: var(--clr-primary-200) !important;
  color: inherit;
}

#featured-post {
  padding: 0;
}

@media screen and (min-width: 420px) {
  #featured-post {
    padding: 2rem 0;
  }
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.fit {
  display: block;
  margin: 2.5rem 0;
  width: 100%;
}

.image.fit:first-child {
  margin-top: 0;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 2rem 0;
  width: 100%;
}

.image.main:first-child {
  margin-top: 0;
}

.image.main img {
  width: 100%;
}

@media screen and (max-width: 736px) {
  .image.fit {
    margin: 2rem 0;
  }

  .image.main {
    margin: 2rem 0;
  }
}

a.image {
  overflow: hidden;
}

/* button */
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #212931;
  color: #212931 !important;
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button.small {
  font-size: 0.7rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
}

/* footer */

#footer > section {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

#footer p {
  margin-bottom: 0;
}

#footer a {
  color: inherit;
}

#footer a:hover {
  text-decoration: none;
  color: var(--clr-primary-200) !important;
  color: inherit;
}

/* copyright */

#copyright {
  color: var(--clr-primary-100);
  position: relative;
  cursor: default;
  font-family: var(--ff-primary);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin: 4rem auto 5rem auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
}

#copyright a {
  color: var(--clr-nautral-100);
  color: inherit;
}

#copyright a:hover {
  text-decoration: none;
  color: var(--clr-primary-200) !important;
}

#copyright ul {
  margin: 0;
  padding-left: 0;
}
#copyright ul li {
  border-left: 0;
  margin: 1rem 0 0 0;
  padding-left: 0;
  display: block;
}

/* background */
@media screen and (min-width: 1281px) {
  .no-webp .bg {
    background: url(/images/background/background-1920.jpg);
    overflow: scroll;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .bg {
    background: url(/images/background/background-1920.webp);
    overflow: scroll;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 1280px) {
  .no-webp .bg {
    background: url(/images/background/background-1280.jpg);
    overflow: scroll;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .bg {
    background: url(/images/background/background-1280.webp);
    overflow: scroll;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 640px) {
  .no-webp .bg {
    background: url(/images/background/background-960.jpg);
    overflow: scroll;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .webp .bg {
    background: url(/images/background/background-960.webp);
    overflow: scroll;
    max-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
